.icon {
	fill: var(--gray-400);
	width: 25px;
	aspect-ratio: 1/1;
	transition: 300ms ease fill;

	&--logo {
		width: 40px;
	}
	&--header {
		cursor: pointer;
		&:hover {
			fill: var(--gray2100);
		}
	}
	&--info {
		width: 18px;
	}
}
