.icon {
	fill: var(--gray-400);
	width: 25px;
	aspect-ratio: 1/1;
	transition: 300ms ease fill;
	display: flex;
	justify-content: center;
	align-items: center;

	&--logo {
		width: 60px;
	}
	&--header {
		cursor: pointer;
		&:hover {
			fill: var(--gray-100);
		}
	}
	&--info {
		width: 18px;
	}
}
